@page "/importar"

<PageTitle>Importar</PageTitle>

<h1>Importar</h1>

<h3>Selecione o arquivo</h3>
<InputFile OnChange="HandleSelectecFiles" multiple="false" />

@if (conteudo != null)
{
    <p>Conteúdo:</p>
    <pre>@conteudo</pre>
}

@code {
    private string conteudo = string.Empty;

    private async Task HandleSelectecFiles(InputFileChangeEventArgs e)
    {
        var arquivo = e.File;
        using var stream =new MemoryStream();
        await arquivo.OpenReadStream().CopyToAsync(stream);

        using var workbook = new XLWorkbook(stream);
        var planilha = workbook.Worksheets.First();
        var sb = new StringBuilder();

        foreach (var linha in planilha.RowsUsed())
        {
            foreach (var celula in linha.CellsUsed())
            {
                sb.Append(celula.GetString());
                sb.Append("\t");
            }
            sb.AppendLine();
        }

        conteudo = sb.ToString();
    }
}
